# Dependencies
node_modules
.pnp
.pnp.js
bun.lock

# Testing
/coverage

# Production
/dist
/build
/.wrangler
/tmp

# Environment variables
.env
.env.*
!.env.example
.devs.vars
# OS
.DS_Store
Thumbs.db
*.js.map
# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
.sisyphus
.tanstack
apps/web/src/routeTree.gen.ts
